<?xml version="1.0" encoding="UTF-8"?>
<suite name="Assignment" verbose="1" >
    <test name="Assignment suite" >
        <package>
             <pacakage name="tests.productTests"/>
        </package>
        <classes>
            <class name="productTests.AddProductTest"/>
            <class name="productTests.DeleteProductTest"/>
            <class name="productTests.GetProductTest"/>
            <class name="productTests.GetProductsTest"/>
            <class name="productTests.UpdateProductTest"/>
        </classes>
    </test>
</suite>